:root {
  
  --primary-color: rgba(8, 46, 5, 0.5);
  --red-color: rgba(233, 72, 8, 0.8);

}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  min-width: 100vw;

}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}


* {
  font-family: "Nunito", sans-serif;
  text-align: center;
  position: relative;
  font-weight: bold;
  color: rgba(245, 245, 245, 0.927);
}

h1 {
  font-size: 3vh;
}

/* SmartPhone */
@media screen and (max-width: 499px) {}

/* Tablets */
@media screen and (max-width: 899px) and (min-width: 500px) {}

/* Laptop */
@media screen and (min-width: 900px) and (max-width: 1319px) {}

/* Desktop */
@media screen and (min-width: 1319px) {}

.row {
  width: 100vw;
}

header {
  z-index: 1000;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
  top: 0;
  left: 0;
  width: 100vw;
  height: fit-content;
  align-items: center;
  justify-content: center;
  background-color: #52515197;

  color: white;
}

p {
  font-size: 2vh;
}

.phone-number {
  text-decoration: none;
  /* Remove underline */
  color: inherit;
  /* Use the parent element's text color */
}

a {
  text-decoration: none;
}



button,
.button {
  width: inherit;
  background-color: azure;
  text-align: left;
  border: none;
  transition: 1.5s ease-in-out;
  -moz-transition: 3s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 20vw;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
}

li {
  float: left;
  flex: 1;
  /* Make each list item take up equal horizontal space */
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  /* Background color on hover */
}

img {
  width: 20vw;
  height: 20vw;
  background-color: whitesmoke;
  border: #fff 2px;
  border-radius: 10%;
}

.menu-box {
  width: 100vw;
  height: 7vh;
  background-color: rgba(72, 61, 139, 0.8);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
  top: 0;
  left: 0;
  width: 100vw;
  height: fit-content;
  align-items: center;
  justify-content: center;


  color: white;
}

iframe {
  padding-left: 10vw;
  padding-right: 10vw;
  width: 70vw;
  height: 100vh;
  background-color: whitesmoke;
  border: #fff 2px;
  border-radius: 2%;
}

.salaah {
  backface-visibility: hidden;
}

.footer {
  width: 100vw;
  height: fit-content;
  align-items: center;
  justify-content: center;

  color: white;
  text-shadow: 0 0 10px rgba(217, 255, 0, 0.8), 0 0 20px rgba(217, 255, 0, 0.8),
    0 0 30px rgba(217, 255, 0, 0.8), 0 0 40px rgba(217, 255, 0, 0.8);
}